@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
*{
    box-sizing: border-box;
}
.gameboard{
    margin: 0 auto;
    width: 90%;
    height: 550px;
    position: relative;
    border: 2px solid gray;
    overflow: hidden;
    border-bottom: 13px solid green;
    background: linear-gradient(180deg, rgb(0, 110, 255), white);
}
.gameboard img{
    position: absolute;
}
.gameboard .dino{
    top:380px;
    right: 85%;
    width: 160px;
}
.gameboard .jumpDino{
    animation: jumpDino linear 500ms;
}
.gameboard .arbusto{
    top:400px;
    width: 200px;
}
.gameboard .mosca{
    top:340px;
    width: 260px;
    right: -160px; 
}
.showMosca{
    animation: moveMosca 1500ms ease-in-out; 
}
.animateArbusto{
    animation: moveArbusto 1500ms linear infinite;  
}
.clouds{
    width: 350px;
    top: 100px;
    animation: moveClouds 6s infinite linear;
}
.score{
    position: absolute;
    right: 0px;
    display: flex;
    justify-content: space-around;
    width: 500px;
    font-size: large;
    font-family: "Pixelify Sans", sans-serif;
}

@keyframes moveArbusto {
    0%{
        right: -160px;
    }
    100%{
        right: 100%;
    }
}
@keyframes moveMosca{
    0%{
        right: -160px;
    }
    100%{
        right: 100%;
    }
}
@keyframes jumpDino {
    0%{
        top: 360px;
    }
    25%{
        top: 260px;
    }
    50%{
        top: 200px;
    }
    65%{
        top: 200px;
    }
    75%{
        top: 200px;
    }
    85%{
        top: 200px;
    }
    95%{
        top: 260px;
    }
    100%{
        top: 360px;
    }
}
@keyframes moveClouds {
    0%{
        right: -350px;
    }
    100%{
        right: 100%;
    }
}